<template name="footer">
	<footer class="footer">
		<p class="text-center"><small>&copy; Copyright 2016 <a href="#">Christian Borges</a>. Caracas - Venezuela. Telf.: (0414) 312.8781.Todos los derechos reservados<br/>
		 La informaci&oacute;n contenida en este portal es de USO INTERNO, exclusiva para el departamento de Operaciones y terceros autorizados por su propietario, no podr&aacute; ser revelada,<br/>
		 duplicada, usada o publicada total o parcialmente sin autorizaci&oacute;n previa y expresa de Christian Borges.</small></p>
	</footer>	
</template>