<template name="login">
	<div class="container">
		<form class="form-signin" action="bitacora">
			<div class="img-form-signin">
				<img alt="Brand" src="/images/logo_resize.jpg">
			</div>
			
			<label for="inputUser" class="sr-only">Usuario</label>
			<input type="text" id="inputUser" class="form-control" placeholder="Usuario" required="" autofocus="">
			<label for="inputPassword" class="sr-only">Clave</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Clave" required=""><br>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
		</form>
	</div> <!-- /container -->
</template>