<template name="navbar">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
		 
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<i class="icon-menu"></i> Menu
			</button>
			<a class="navbar-brand" href="#"><i>Totaltexto</i></a>
		</div>
		 
		<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
			<ul class="nav navbar-nav">

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Bootstrap Related Resources">Inicio <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/bitacora"><i class="icon-list"></i>Bitacora Monitoreo</a>
						</li>
					</ul>
				</li>		
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Bootstrap Related Resources">Administracion <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/admin/cliente"><i class="icon-list"></i>Clientes</a>
						</li>
						<li>
							<a href="/admin/servidor"><i class="icon-list"></i>Servidores</a>
						</li>				
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Bootstrap Related Resources">Estadisticas <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/estadisticas/totalsms"><i class="icon-list"></i>Total SMS</a>
						</li>
					</ul>
				</li>			
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Bootstrap Related Resources">Seguridad <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/seguridad/usuario"><i class="icon-list"></i>Usuarios</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="nav navbar-nav navbar-right logout">
				<p class= "user"><b>Christian Borges (Administrador)</b></p>&nbsp;<a href="/" title="Contacta el equipo TotalTexto">(Salir)</a>
			</div>
		</div>
	</div>
</nav>
</template>