<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Sistema Monitoreo</title>
</head>

<body>

</body>

<template name="layout_bitacora">
	{{> Template.dynamic template=top}}
	<div class="container-fluid container-custom">	
		{{> Template.dynamic template=main}}
		{{> footer}}
	</div><!-- fin div container-->	
</template>
